body {
  margin: 0;
  background-color: #0460bc;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

h1 {
  margin: 0;
  font-weight: 400;
}

section {
  width: 380px;
  background-color: white;
  margin: 15rem auto;
  padding: 2rem 1.5rem;
  border-radius: 11px;
  box-sizing: border-box;
}

.calender {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  justify-content: center;
  gap: 1rem 1.7rem;
}

strong,
span {
  font-size: 17px;
}

svg {
  padding: 0.5rem 0.6rem;
  background-color: #e1e9f0;
  border-radius: 4px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  margin-top: 0;
}

.span-1 {
  color: #999999;
}
