body {
  margin: 0;
  background-color: #0460bc;
}

h1 {
  margin: 0;
}

section {
  width: 380px;
  background-color: white;
  margin: 15rem auto;
}

.calender {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

strong,
span {
  font-size: 17px;
}

svg {
  padding: 0.5rem 0.6rem;
  background-color: #e1e9f0;
  border-radius: 4px;
}

header {
  display: flex;
}

.span-1 {
  background-color: #999999;
}
